@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-image: url('./background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;

}

div{
    background-color: darkgrey;
    margin-top: 50px;
    opacity: 0.8;

}

h1{
    font-size: 40px;

}

h2{
    font-size: 30px;
    color: darkgreen;

}

label{
    font-size: 25px;
    color: darkblue;
}

span{
    color: darkmagenta;
    font-size: 25px;
}